<!DOCTYPE html>
<html>
<head>
    <title>关于我们</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* CSS样式可以在<head></head>标签中定义或者单独的外部CSS文件中 */
        /* 这里只提供一个基本的样式示例 */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 95%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h1 {
            text-align: center;
            color: #04c09d;
        }
        p {
            margin-bottom: 20px;
            text-align: center;
        }
        .video-container {
            text-align: center;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto 20px;
            display: block;
            border-radius: 10px;
        }
        .back img{
            width: 50px;
            height: 50px;
            position: fixed;
            top: 50%;
            transform: translateY(200px);
            right: 30px;
            z-index: 9999; /* 可选，设置层级高度，确保元素位于其他元素之上 */
        }
    </style>
</head>
<body>
<div class="container">
    <h1>关于我们</h1>
    <p>欢迎来到我的网站！我们致力于打造简洁、高效。开源的技术网站。</p>


    <img src="image/spider.jpg" alt="公司团队" width="800" height="400">

    <p>通过不断创新和持续改进，我们努力解决同学们的需求并超越期望。</p>
    <p>请随时与我们联系，了解更多关于我们的信息。</p>
    <p>如果同学们在使用接口的时候，或者在部署项目的时候，遇到问题欢迎前来与我们交流</p>

</div>

<a href="/service">
    <div class="back">
        <img src="/icon/群蜂主页.png" alt="">
    </div>
</a>
</body>
</html>