<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>失物认领</title>
  <link rel="stylesheet" href="css/found.css">
</head>
<body>
<div class="search">
  <div class="top">
    <input id="search" class="input" type="text" placeholder="搜索">
    <img src="icon/搜索 (1).png" alt="">
  </div>
</div>

<a href="">
  <div class="conitem">
    <div class="item">
      <div class="item_left">
        <img src="image/swiper0.jpg" alt="">
      </div>
      <div class="item_right">
        <div class="item_right_left">
          <div class="item_name">蓝牙耳机</div>
          <div class="detial">在校门口捡的</div>
          <div class="item_price">1565元</div>
          <div class="item_right_right">19点53分</div>
        </div>
      </div>
    </div>
  </div>
</a>



<a href="/service">
  <div class="back">
    <img src="/icon/群蜂主页.png" alt="">
  </div>
</a>

<!-- 按钮 -->
<a class="btn" href="search">
  <div class="button">
    <img src="icon/发布2.png" alt="">
    <div class="text">捡到东西</div>
  </div>
</a>
</body>
<script>
</script>
</html>