<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>生活分享网</title>
</head>
<body>
<header>
    <h1>生活分享网</h1>
</header>
<div class="container">
    <h1>关于我们</h1>
    <p>欢迎来到我的网站！</p>

</div>
<!-- 网站内容 -->

<footer>
    <p> <a href="https://beian.miit.gov.cn" target="_blank">备案豫ICP备2023000557号</a></p>
</footer>
</body>
</html>