<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务大厅</title>
    <link rel="stylesheet" href="css/service.css">
</head>
<body>
<div class="serve">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">校园风貌</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="https://www.720yun.com/t/d7cjvgtaOa8?scene_id=35848664">
                <img src="icon/风景.png">
                <div class="serveitem_text">3D校园</div>
            </a>
            <a class="serveitem" href="course">
                <img src="icon/课程管理.png">
                <div class="serveitem_text">我的课表</div>
            </a>
            <a class="serveitem" href="https://news.wfu.edu.cn/">
                <img src="icon/记事本.png">
                <div class="serveitem_text">校内新闻</div>
            </a>
            <a class="serveitem" href="https://yz.chsi.com.cn/">
                <img src="icon/博士.png">
                <div class="serveitem_text">研招网</div>
            </a>
        </div>
        <div class="row2">
            <a class="serveitem" href="coursesend">
                <img src="icon/课表推送.png">
                <div class="serveitem_text">课表推送</div>
            </a>
            <a class="serveitem" href="allquestion">
                <img src="icon/常见问题.png">
                <div class="serveitem_text">一键提问</div>
            </a>
            <a class="serveitem" href="https://www.wfu.edu.cn/_t1234/sjwy/list.psp">
                <img src="icon/山.png">
                <div class="serveitem_text">视觉潍院</div>
            </a>
            <div class="serveitem" style="visibility: hidden;">
                <img src="../public/icon/风景.png">
                <div class="serveitem_text">校园风貌</div>
            </div>
        </div>
    </div>
</div>
<!-- 第二个 -->
<div class="serve">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">常用功能</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="https://cjcx.neea.edu.cn/xhtml1/folder/21083/9970-1.htm">
                <img src="icon/英语.png">
                <div class="serveitem_text">四六级</div>
            </a>
            <a class="serveitem" href="https://cjcx.neea.edu.cn/xhtml1/folder/22014/5476-1.htm">
                <img src="icon/电脑.png">
                <div class="serveitem_text">计算机等级</div>
            </a>
            <a class="serveitem" href="https://www.cltt.org/#/scoreQuery">
                <img src="icon/麦克风_bg.png">
                <div class="serveitem_text">普通话</div>
            </a>
            <a class="serveitem" href="https://yz.chsi.com.cn/">
                <img src="icon/博士.png">
                <div class="serveitem_text">研招网</div>
            </a>
        </div>
        <div class="row2">
            <a class="serveitem" href="coursesend">
                <img src="icon/课表推送.png">
                <div class="serveitem_text">课表推送</div>
            </a>
            <a class="serveitem" href="https://cjcx.neea.edu.cn/xhtml1/folder/21064/9282-1.htm">
                <img src="icon/CA证书.png">
                <div class="serveitem_text">教资</div>
            </a>
            <a class="serveitem" href="https://jw.wfu.edu.cn/jsxsd/view/findpwd/enteraccount.jsp">
                <img src="icon/密码.png">
                <div class="serveitem_text">密码找回</div>
            </a>
            <div class="serveitem" style="visibility: hidden;">
                <img src="icon/风景.png">
                <div class="serveitem_text">校园风貌</div>
            </div>
        </div>
    </div>
</div>
<!-- 第三个 -->
<div class="serve">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">个人信息</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="score">
                <img src="icon/班级成绩-01.png">
                <div class="serveitem_text">我的成绩</div>
            </a>
            <a class="serveitem" href="loginscore">
                <img src="icon/微信登录.png">
                <div class="serveitem_text">登录成绩</div>
            </a>
            <a class="serveitem" href="course">
                <img src="icon/课程管理.png">
                <div class="serveitem_text">我的课表</div>
            </a>
            <a class="serveitem" href="login">
                <img src="icon/微信登录.png">
                <div class="serveitem_text">登录课表</div>
            </a>
        </div>
    </div>
</div>
<!-- 第三个 -->
<div class="serve">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">宿舍专区</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="https://mp.weixin.qq.com/s/v4PVGBmMO14rDk1X1PUmMQ">
                <img src="icon/电压.png">
                <div class="serveitem_text">如何充电</div>
            </a>
            <a class="serveitem" href="https://cwzhpt.wfu.edu.cn/czyw/index.html#/">
                <img src="icon/空调.png">
                <div class="serveitem_text">空调充值</div>
            </a>
            <a class="serveitem" href="https://cwzhpt.wfu.edu.cn/czyw/index.html#/">
                <img src="icon/房卡.png">
                <div class="serveitem_text">一卡通充值</div>
            </a>
            <a class="serveitem" href="https://mp.weixin.qq.com/s/XIG1oNg8_6nzsMImfM3cqw">
                <img src="icon/提醒.png">
                <div class="serveitem_text">注意事项</div>
            </a>
        </div>
        <div class="row1">
            <a class="serveitem" href="https://mp.weixin.qq.com/s/m-pKNkjgaiCxT8GDuIYZ1g">
                <img src="icon/报修.png">
                <div class="serveitem_text">宿舍报修</div>
            </a>
            <a class="serveitem" style="visibility: hidden;" href="https://www.720yun.com/t/d7cjvgtaOa8?scene_id=35848664">
                <img src="../public/icon/报修.png">
                <div class="serveitem_text">宿舍报修</div>
            </a>
            <a class="serveitem" style="visibility: hidden;" href="https://www.720yun.com/t/d7cjvgtaOa8?scene_id=35848664">
                <img src="../public/icon/报修.png">
                <div class="serveitem_text">宿舍报修</div>
            </a>
            <a class="serveitem" style="visibility: hidden;" href="https://www.720yun.com/t/d7cjvgtaOa8?scene_id=35848664">
                <img src="../public/icon/报修.png">
                <div class="serveitem_text">宿舍报修</div>
            </a>
        </div>
    </div>
</div>
<!-- 第四个 -->
<div class="serve">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">闲置资源</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="allpublic">
                <img src="icon/便利店.png">
                <div class="serveitem_text">闲置资源</div>
            </a>
            <a class="serveitem" href="search">
                <img src="icon/发布 (2).png">
                <div class="serveitem_text">发布闲置</div>
            </a>
            <div class="serveitem" style="visibility: hidden;">
                <img src="../public/icon/记事本.png" style="visibility: hidden;">
                <div class="serveitem_text">信息通知</div>
            </div>
            <a class="serveitem" href="https://yz.chsi.com.cn/" style="visibility: hidden;">
                <img src="../public/icon/博士.png">
                <div class="serveitem_text">研招网</div>
            </a>
        </div>
    </div>
</div>
<!-- 第五个 -->
<div class="serve1">
    <div class="servetop">
        <div class="row">
            <div class="serveTitle">为你推荐</div>
        </div>
        <div class="row1">
            <a class="serveitem" href="https://mp.weixin.qq.com/s/S03f5cm5JTaL5SVEA9EWUA">
                <img src="icon/个人权益单打印.png">
                <div class="serveitem_text">校内打印</div>
            </a>
            <a class="serveitem" href="https://ai.8abox.art/#/register?bronk_on=661609">
                <img src="icon/智能电子.png">
                <div class="serveitem_text">chat-gpt</div>
            </a>
            <a class="serveitem" href="https://lib.wfu.edu.cn/">
                <img src="icon/图书查询.png">
                <div class="serveitem_text">图书馆</div>
            </a>
            <a class="serveitem" href="https://mp.weixin.qq.com/s/BWETeiCe22pqOyY0ZiiLBA">
                <img src="icon/日历 (2).png">
                <div class="serveitem_text">校历</div>
            </a>
        </div>
        <div class="row2">
            <a class="serveitem" href="https://mp.weixin.qq.com/s/xEJI9x95UHxEoAxdBu19GQ">
                <img src="icon/联系客服.png">
                <div class="serveitem_text">联系客服</div>
            </a>
            <a class="serveitem" href="found" style="visibility: hidden;">
                <img src="icon/找需求.png">
                <div class="serveitem_text">寻物启事</div>
            </a>
            <a class="serveitem" href="/views/service.html" style="visibility: hidden;">
                <img src="../public/icon/更多.jpg">
                <div class="serveitem_text">更多应用</div>
            </a>
            <div class="serveitem" style="visibility: hidden;">
                <img src="../public/icon/风景.png">
                <div class="serveitem_text">校园风貌</div>
            </div>
        </div>
    </div>
</div>

<!-- 底部导航栏 -->
<div class="middle_below">
    <a class="footLeft" href="getCode">
        <img src="icon/un首页.png" alt="">
        <div class="index">首页</div>
    </a>
    <a class="footLeft" href="service">
        <img src="icon/sindex.png" alt="">
        <div class="index1">服务</div>
    </a>
    <a class="footRight" href="user">
        <img src="icon/unSelectMy.png" alt="">
        <div class="my">我</div>
    </a>
</div>

<!-- 动画 -->
<div class="loading"></div>

</body>
<script>
    //获取动画
    let loading = document.querySelector('.loading');
    window.onload = function(){
        loading.style.display = "none";
    }
</script>
</html>