<!DOCTYPE html>
<html>
<head>
    <title>接口API文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/share.css">
</head>
<body>
<h1>接口API文档</h1>

<div class="endpoint">
    <h2 class="endpoint-title">获取成绩</h2>
    <p class="endpoint-description">通过POST请求获取成绩的API。</p>
    <pre style="background-color: #f5f5f5; padding: 10px; overflow: auto; height: 20px;"><code>POST http://8.130.109.112/score?username=USERNAME&amp;password=PASSWORD</code></pre>

    <div class="response">
        <h3 class="response-title">响应</h3>
        <div class="response-example">
            <p class="field">
                <span class="field-name">code:</span> 0
            </p>
            <p class="field">
                <span class="field-name">message:</span> 登录成功！
            </p>
            <p class="field">
                <span class="field-name">score:</span>
                [
                <br>
                &nbsp;&nbsp;{
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">semester:</span> "2021-2022-1",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">name:</span> "大学IT",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">credit:</span> "1.5",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">score:</span> "77"
                <br>
                &nbsp;&nbsp;},
                <br>
                &nbsp;&nbsp;{
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">semester:</span> "2021-2022-1",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">name:</span> "大学英语（一）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">credit:</span> "4",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="field-name">score:</span> "73"
                <br>
                &nbsp;&nbsp;}
                <br>
                ]
            </p>
            <div class="core">
                <h2 class="endpoint-title">字段说明</h2>
                <p>semester ----- 学期</p>
                <p>name ----- 课程名称</p>
                <p>credit ----- 学分</p>
                <p>score ----- 成绩/分数</p>
            </div>
        </div>
    </div>
</div>

<div class="endpoint">
    <h2 class="endpoint-title">获取课表</h2>
    <p class="endpoint-description">通过POST请求获取课表的API。</p>
    <pre style="background-color: #f5f5f5; padding: 10px; overflow: auto; height: 20px;"><code>POST http://8.130.109.112/course?username=USERNAME&amp;password=PASSWORD</code></pre>

    <div class="response">
        <h3 class="response-title">响应</h3>
        <div class="response-example">
            <p class="field">
                <span class="field-name">code:</span> 0
            </p>
            <p class="field">
                <span class="field-name">message:</span> 登录成功！
            </p>
            <p class="field">
                <span class="field-name">allcourse:</span>
                [
                <br>
                &nbsp;&nbsp;[
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"姓名（如：张三）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"学号（如：21xxxxx）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"学院（如：体育学院）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"专业（如：体育教育）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"班级（如：体育本21(x)）"
                <br>
                &nbsp;&nbsp;],
                <br>
                &nbsp;&nbsp;[
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"周一",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"课程名称（如：计算机科学）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"授课教师（如：李四）",
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"节次（1-10,12-13(周)[01-02节]）"
                <br>
                &nbsp;&nbsp;]
                <br>
                ]
            </p>
        </div>
    </div>
</div>

<div>
    <h2 class="endpoint-title">开源地址</h2>
    <p class="endpoint-description">gitee</p>
    <pre style="background-color: #f5f5f5; padding: 10px; overflow: auto; height: 20px;"><code>https://gitee.com/under-my-umbrella/node_wechat_api.git</code></pre>
</div>

<a href="/service">
    <div class="back">
        <img src="/icon/群蜂主页.png" alt="">
    </div>
</a>
<script>
    // 在这里可以添加一些Javascript的互动逻辑
</script>
</body>
</html>