/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#65e5ca, #88e8d9, #baece3);
}

/* 问题区域样式 */
.question {
    width: 95%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
}

.question__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.question__header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.question__name {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.question__time {
    /* margin-left: 60px; */
    font-size: 12px;
    color: #999;
}

.question__content {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}
.left{
    display: flex;
    align-items: center;
    text-align: center;
}
.form{
    width: 95%;
    margin: 10px auto;
    display: block;
}
.name{
    color: #fff;
}
.forminput{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.formbelow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    border: none;
    color: #fff;
    padding: 5px 10px;
    background-color: #04ad8e;
    border-radius: 15px;
}

.back img{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(200px);
    right: 30px;
    z-index: 9999; /* 可选，设置层级高度，确保元素位于其他元素之上 */
}