body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* 不是60分及以上*/
  .score.red {
    color: red;
  }
  
  .container {
    max-width: 95%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    background-color: #04c09d;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }
  
  .info .row {
    display: flex;
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .info .row .label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .info .row .value {
    font-size: 16px;
  }
  
  .grade {
    padding: 30px;
  }
  
  .grade table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
   .grade th, .grade td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .grade th {
    background-color: #04c09d;
    color: white;
  }
  
  .grade tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .summary {
    padding: 30px;
    text-align: center;
  }
  
  .summary p {
    margin: 10px 0;
    font-size: 18px;
  }
  .back img{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(200px);
    right: 30px;
    z-index: 9999; /* 可选，设置层级高度，确保元素位于其他元素之上 */
  }