body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #04c09d;
}

h2 {
    color: #04c09d;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
}

code {
    font-family: 'Courier New', monospace;
}

.endpoint {
    margin: 20px 0;
}

.endpoint-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.endpoint-description {
    margin-bottom: 10px;
}

.response-title {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.response-example {
    margin-bottom: 20px;
}

.field {
    margin-bottom: 5px;
}

.field-name {
    font-weight: bold;
}

.field-description {
    margin-bottom: 5px;
}
.back img{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(200px);
    right: 30px;
    z-index: 9999; /* 可选，设置层级高度，确保元素位于其他元素之上 */
}